@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
    --primary-color: #01afd1;
    --secondary-color: #043263;
    --accent-color: #DBE5FF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

.logo {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 1.5em;
}

.logo span {
    color: var(--secondary-color);
}

.navbar-nav Link {
    color: var(--secondary-color);
}

button {
    width: 80px;
    height: 40px;
    border: none;
    background-color: var(--primary-color);
    color: white;
}

button:hover {
    background-color: var(--secondary-color);
    color: white;
}